@use "colors" as colors;
@use "mixins" as mixins;

:host {
  @include mixins.flex-column-center;
  text-align: center;
  padding: 20px;

  .error-icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 20px;
    color: colors.$message-warning;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
