@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  @include flex-row-center;
  flex-direction: column;
}

@mixin flex-row-only-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column-only-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin simple-form {
  @include flex-row-center();
  flex-wrap: wrap;
  gap: 1rem;
}

@mixin simple-form-section {
  @include simple-form();
  flex-wrap: nowrap;
}
